PROGRAM_ENVIRONMENT=dev

ENABLE_DISPLAY=false

IP_ADDRESS=192.168.1.XXX
DNS_UPDATE_INTERVAL=300

RADIO_SERVER_HOST=server.local-radio.localhost
RADIO_MIDDLEWARE_HOST=middleware.local-radio.localhost
RADIO_FRONTEND_HOST=local-radio.localhost

CLOUDFLARE_ACCOUNT_ID=XXXXXXXXXX
CLOUDFLARE_API_TOKEN=XXXXXXXXXX

ACME_EMAIL=you@example.com