<main class="Main Main--home">
    <section class="PageContent">
        <p>In order to stream the sound coming from your computer (whether from youtube, spotify, VLC,
            etc.) you can used Loopback as a 'pass-through' device. To do so...</p>
        <ol>
            <li><a href="/lib/loopback-2.1.1.zip">Download
                    Loopback</a> and register it with with given serial number 
                <img src="/img/help_1.png">
            </li>
            <li>
                Select Loopback as your output device from the sound drodown in the menu bar. All output from your computer will be piped to Loopback and can be now streamed as an audio source on Local Radio.
                <img src="/img/help_3.png">
            </li>
            <li>
                Open the Loopback app to monitor the sound being sent to Loopback using headphones or another device,
                <img src="/img/help_2.png">
            </li>
            <li>that's it!</li>
        </ol>
    </section>
</main>