<main class="Main Main--home">
    <section class="PageContent">
        <p>In order to stream the sound coming from your computer (whether from youtube, spotify, VLC,
            etc.) you can used Soundflower as a 'pass-through' device. To do so...</p>
        <ol>
            <li><a href="https://github.com/mattingalls/Soundflower/releases/download/2.0b2/Soundflower-2.0b2.dmg">Download
                    soundflower
                    from Github</a>
                <img src="/img/help_1.png">
            </li>
            <li>
                Install Soundflower using the .dmg
                <img src="/img/help_2.png">
            </li>
            <li>
                Select Soundflower (2ch) as your output device from the sound drodown in the menu bar. All output from your computer will be piped to Soundflower and can be now streamed on Local Radio.
                <img src="/img/help_4.png">
            </li>
            <li>
                To monitor the sound being sent to Soundflower... open the SoundflowerBed app.
                <img src="/img/help_3.png">
            </li>
            <li>
                Click on the Soundflowerbed menu icon and select the output device you would like to monitor the audio from.
                <img src="/img/help_5.png">
            </li>
            <li>that's it!</li>
        </ol>
    </section>
</main>