<main class="Main Main--new">
    <header class="Header">
        <h1 class="Header-title">
            <span class="Spinner">░</span><a href="/" class="Header-titleSpan">Local Radio</a>
            <span>:</span>
            <span class="Header-titleSpan Header-titleSpan--stream"></span>
            <span class="Header-titleSpan Header-titleSpan--new">{{title}}</span>
        </h1>
    </header>
    <section class="PageContent">
        <p>Choose an output to stream from. The stream will be accessible by others on the network as long as this page is open. Stream directly from your computer's mic, or use <a href="/help">Loopback</a> to stream sound from your computer's output.</p>
        <form class="StreamOptions">
            <select required class="StreamOptions-sourceSelect">
                <option value="">Select Input...</option>
            </select>
            <input class="StreamOptions-title" type="text" name="title" placeholder="Enter Station Title...">
            <textarea class="StreamOptions-description" name="description" placeholder="Enter Station Description..."></textarea>
            <button disabled class="StreamButton">Start Streaming</button>
        </form>
    </section>
</main>

<script src="js/lib/shine.js"></script>
<script src="js/lib/samplerate.js"></script>
<script src="js/lib/webcast.js"></script>
<script>const host = '{{ host }}'</script>
<script src="js/new.js"></script>